<h1 mat-dialog-title > Add Specialization </h1>
<mat-divider></mat-divider>

<form  [formGroup]="addSpecializationForm" >
<div mat-dialog-content>
    
    <div class="container" >
        
         <mat-form-field appearance="fill"  >
         <mat-label>Specialization_ID</mat-label>
        <input matInput formControlName="id" >
        </mat-form-field>

        <mat-form-field appearance="fill"  >
            <mat-label>Specialization_Name </mat-label>
           <input matInput   formControlName="name">
           </mat-form-field>

           <mat-form-field appearance="fill"  >
            <mat-label>Specialization_Description</mat-label>
           <input matInput   formControlName="description">
           </mat-form-field>

     </div>
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Cancle</button>
    <button mat-raised-button color="primary"  [disabled]="addSpecializationForm.invalid" type="submit" >Save</button>
 
  </div>

</form>