<mat-nav-list ngSkipHydration>
    <div class="profile-card">
      <img src="../../../../assets/img/about-img.jpg" alt="Profile Image">
  
      <div class="header">
        <h4>Name: John Doe</h4>
        <h4>Role: Admin</h4>
      </div>
    </div>
  
    <mat-divider></mat-divider>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/working-schedule">
      <mat-icon>dashboard</mat-icon>
      <span>Working-schedule</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/appointment">
      <mat-icon>schedule</mat-icon>
      <span>Appointments</span>
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/doctor-appointment">
      <mat-icon>schedule</mat-icon>
      <span>Doctor-Appointments</span>
    </a>
  
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/patient">
      <mat-icon>healing</mat-icon>
      <span>Patients</span>
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/reciptionist">
      <mat-icon>support_agent</mat-icon>
      <span>Receptionist</span>
    </a>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/doctor">
      <mat-icon>medical_services</mat-icon>
      <span>Doctors</span>
    </a>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
      <mat-icon>assignment</mat-icon>
      <span>Specializations </span>
    </a>
  </mat-nav-list>
  